CREATE TABLE IF NOT EXISTS public.porachki_materiali (
    id bigint generated always as identity primary key,
    "Материал" text NOT NULL,
    "Дата на поръчка" date DEFAULT CURRENT_DATE,
    "Доставчик" text,
    "Количество" numeric NOT NULL DEFAULT 0,
    "Дата на приемане" date,
    "Статус" text DEFAULT 'Поръчано'
);
ALTER TABLE public.porachki_materiali OWNER TO postgres;

