CREATE TABLE public.plan_snapshots (id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY, plan_name TEXT NOT NULL, plan_year INTEGER NOT NULL, snapshot_type TEXT NOT NULL, inventory_data JSONB NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()); CREATE TABLE public.plan_archives (id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY, plan_name TEXT NOT NULL, plan_year INTEGER NOT NULL, archive_data JSONB NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW());
